### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.idea/

###project###

fr/.mvn
fr/target
fr/mvnw
fr/*.iml

fr-auth/.mvn
fr-auth/target
fr-auth/mvnw
fr-auth/*.iml

fr-core/.mvn
fr-core/target
fr-core/mvnw
fr-core/*.iml

fr-server/.mvn
fr-server/target
fr-server/mvnw
fr-server/*.iml

fr-static/.mvn
fr-static/target
fr-static/mvnw
fr-static/*.iml


